In [3]:
f = lambda x: x**2
f(9)

81

In [4]:
s = lambda x,y: x+y
s(9,8)

17

In [5]:
type(s)

function

1. lambda has no return value
2. One line
3. Not used for code reusability
4. No name of lambda function
5. Along with higher order functions

In [7]:
b = lambda x: x[0]=='a'

In [8]:
b('apple')

True

In [9]:
fun = lambda x: 'Even' if x%2 ==0 else 'Odd'
fun(8)
fun(3)

'Odd'

In [10]:
fun(8)

'Even'

In [24]:
L = [11,14,21,23,56,78,45,29,28]

def return_sum(L):
    even_sum = 0
    odd_sum = 0
    div3_sum = 0
    
    for i in L:
        if i%2 == 0:
            even_sum += i
        if i%2 != 0:
            odd_sum += i
        if i%3 == 0:
            div3_sum += i
            
    return even_sum, odd_sum, div3_sum
return_sum(L)

(176, 129, 144)

In [18]:
even = lambda x: x%2 == 0
odd = lambda x: x%2 != 0
div3 = lambda x: x%3 == 0

In [15]:
x(9)

False

In [20]:
def returns_sum(fun,L):
    result = 0
    for i in L:
        if fun(i):
            result += i
        
    return result

In [21]:
returns_sum(even,L)

176

In [22]:
returns_sum(odd,L)

129

In [23]:
returns_sum(div3,L)

144

### MAP

In [26]:
list(map(lambda x: x*2,L))

[22, 28, 42, 46, 112, 156, 90, 58, 56]

In [27]:
students = [
    {
        "name":"Jacob Martin",
        "father name":"Ros Martin",
        "Address": "123 Hill Street",
    },{
        "name":"Angela Stevens",
        "father name":"Robert Stevens",
        "Address": "3 Upper Street London",
    },{
        "name":"Ricky Smart",
        "father name":"William Smart",
        "Address": "Unknown",
    }
]

In [28]:
map(lambda student: student['name'],students)

In [29]:
list(map(lambda student: student['name'],students))

['Jacob Martin', 'Angela Stevens', 'Ricky Smart']

In [40]:
# Map work on every element

### Filter

In [3]:
L = [1,2,3,4,5,7,6,8,9]
L.sort()

In [4]:
list(map(lambda x: x%2==0,L))

[False, True, False, True, False, True, False, True, False]

In [5]:
list(filter(lambda x: x%2==0,L))
# filter work on only with filter function

[2, 4, 6, 8]

In [6]:
list(filter(lambda x: x>5,L))

[6, 7, 8, 9]

In [7]:
fruits = ['Apple','Orange','Mango','Guava']

list(filter(lambda fruit: 'e' in fruit,fruits))

['Apple', 'Orange']

## Reduce

In [1]:
L

NameError: name 'L' is not defined

In [2]:
import functools

In [43]:
functools.reduce(lambda x,y:x+y,L)

45

In [45]:
sum(L)

45

In [49]:
L1 = [89,12,34,56,11,21,58]
L1

[89, 12, 34, 56, 11, 21, 58]

In [50]:
functools.reduce(lambda x,y: x if x>y else y,L1)

89

In [51]:
functools.reduce(lambda x,y: x if x<y else y,L1)

11

### List comprehension

In [56]:
L2 = [i*2 for i in range(10,101,10)]
L2

[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]

In [58]:
L3 = [i**2 for i in range(1,11) if i%2 == 0]
L3

[4, 16, 36, 64, 100]

In [59]:
fruits = ['Apple','Orange','Mango','Guava']

L4 = [i for i in fruits if 'O' in i]
L4

['Orange']

In [60]:
L4 = [i for i in fruits if i[0]=='O']
L4

['Orange']

In [61]:
D = {'Name':'Nihar','Gender':'Male','Age':27}

In [63]:
D.items()

dict_items([('Name', 'Nihar'), ('Gender', 'Male'), ('Age', 27)])

In [64]:
D1 = {key:value for key,value in D.items() if len(key)>3}
D1

{'Name': 'Nihar', 'Gender': 'Male'}

In [68]:
def even(n):
    if n%2 == 0:
        return True
    else:
        return False

In [69]:
even(8)

True

In [70]:
even(9)

False

In [72]:
L = [1,2,3,4,5,6,7,8,9]
D2 = {item:item**2 for item in L if item%2 == 0}
D2

{2: 4, 4: 16, 6: 36, 8: 64}