In [1]:
d = {'Name':'Nihar','Gender':'male'}
d

{'Name': 'Nihar', 'Gender': 'male'}

1. dictonary has no indexing
2. dictionary is a mutable types
3. Keys -> should be immutable, value-> they can be mutable
4. Keys Should be unique

In [2]:
type(d)

dict

In [3]:
d[0]

KeyError: 0

In [4]:
d1 = {[1,2,3]:'Nihar'}

TypeError: unhashable type: 'list'

In [5]:
d1 = {(1,2,3):'Nihar'}

In [6]:
d1

{(1, 2, 3): 'Nihar'}

In [7]:
d1.keys()

dict_keys([(1, 2, 3)])

In [8]:
d2 = {'name':'nihar','name':'ranjan'}

In [9]:
d2

{'name': 'ranjan'}

In [11]:
d3 = {'Name':'Rohit','college':'MIT','Marks':{'M':56,'DS':98}}

In [12]:
d3

{'Name': 'Rohit', 'college': 'MIT', 'Marks': {'M': 56, 'DS': 98}}

In [13]:
d

{'Name': 'Nihar', 'Gender': 'male'}

In [14]:
d['Name']

'Nihar'

In [15]:
d['Gender']

'male'

In [16]:
d3['Marks']['DS']

98

# Edit

In [17]:
d['Name'] = 'Ranjan'
d

{'Name': 'Ranjan', 'Gender': 'male'}

In [18]:
d3['Marks']['DS'] = 65
d3

{'Name': 'Rohit', 'college': 'MIT', 'Marks': {'M': 56, 'DS': 65}}

In [19]:
d.get('Name')

'Ranjan'

In [22]:
d3.get('Marks').get('DS')

65

In [23]:
d['Age'] = 28

In [24]:
d

{'Name': 'Ranjan', 'Gender': 'male', 'Age': 28}

In [25]:
d3['Marks']['M2']=50
d3

{'Name': 'Rohit', 'college': 'HCE', 'Marks': {'M': 56, 'DS': 65, 'M2': 50}}

In [26]:
d3['Score']['M2']=50
d3

KeyError: 'Score'

In [27]:
d5 ={} 
del d5

In [28]:
d4 = {9:1}
d4.clear()
d4

{}

In [29]:
d1

{(1, 2, 3): 'Nihar'}

In [30]:
d2

{'name': 'ranjan'}

In [31]:
d3

{'Name': 'Rohit', 'college': 'HCE', 'Marks': {'M': 56, 'DS': 65, 'M2': 50}}

In [32]:
for i in d3:
    print(i)

Name
college
Marks

In [33]:
for i in d3:
    print(i,' ',d3[i])

Name   Rohit
college   HCE
Marks   {'M': 56, 'DS': 65, 'M2': 50}

In [34]:
'Rohit' in d3

False

In [35]:
'Name' in d3

True

In [36]:
len(d3)

3

In [37]:
min(d3)

'Marks'

In [38]:
max(d3)

'college'

In [39]:
sum(d3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
sorted(d3)

['Marks', 'Name', 'college']

In [41]:
sorted(d3,reverse=True)

['college', 'Name', 'Marks']

In [42]:
d3.keys()

dict_keys(['Name', 'college', 'Marks'])

In [43]:
d3.values()

dict_values(['Rohit', 'HCE', {'M': 56, 'DS': 65, 'M2': 50}])

In [44]:
d3.items()

dict_items([('Name', 'Rohit'), ('college', 'HCE'), ('Marks', {'M': 56, 'DS': 65, 'M2': 50})])